ANTHROPIC_API_KEY=
ELEVENLABS_API_KEY=
ELEVENLABS_AGENT_ID=agent_5301kmn58vzafd4rnz2vjpmsc9ey
NEXT_PUBLIC_ELEVENLABS_AGENT_ID=agent_5301kmn58vzafd4rnz2vjpmsc9ey
LLM_WEBHOOK_URL=
CALENDLY_API_KEY=
CALENDLY_SCHEDULING_URL=https://calendly.com/talktoalinka/author-call
